body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1aad95;
  text-align: center;
  padding-left: 200px;
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 50px;
  color: #ffff;
}

header {
  margin-bottom: 30px;
  font-style: italic;
  font-size: larger;
  color:rgba(204, 19, 96, 0.973);
}

.input_form {
  margin-bottom: 20px;
}

.input_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input_form span {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}

.input_form input {
  outline: none ;
  font-size: 16px;
  color: rgb(34, 13, 13);
  padding: 5px;
  border-radius: 14px;
  border: 0;
}

.input_form button{
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  color: rgb(207, 90, 22);
  background-color: rgb(219, 204, 204);
  border-radius: 20px;
  border: 0;
}

.message {
  height: 50px;
}

.message span {
  display: block;
}